.Avatar-md {
    height: 30px;
    width: 30px;
    border: 1px solid rgb(161, 163, 165);
    border-radius: 50%;

}

.Avatar-lg {
    height: 80px;
    width: 80px;
    border: 1px solid rgb(161, 163, 165);
    border-radius: 50%;
 
}
