.Profile .posts{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    // gap:10px;
 
}
.profile{
    height:100%;
}
.singlePost{
//   height:30%;
  width: 100%;
//   margin:5px;
//   align-self: auto;
}