.PostCreate {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    justify-content: center;
}

.PostCreate .title {
    font-family: "Roboto", sans-serif;
}
.button-label {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
    background: rgb(88, 88, 88);
    color: white;
    margin: 5px;
}
.button-label:hover {
    background: rgb(209, 207, 207);
}

.chosenImage {
    width: 350px;
    height: 350px;
    object-fit: scale-down;
}

.form {
    // box-sizing: content-box;
    align-items: center;
    justify-content: center;
    // height:100vh;
}
.submit-btn {
    background: none;
    border: 1px solid;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}
.submit-btn:hover {
    color: rgb(10, 10, 175);
}
