body,
html,
.App,
.App-container,
#root {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #eeecec;
}

@media screen and (min-width: 600px) {
 
  .app-container,.App-container{


  
  }
}
.App-container {
  background-color: #eeecec;
}

.App {
  // display: flex;
  flex-direction: column;
}
