body,
html,
.App,
.App-container,
#root {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #eeecec;

}

// .App-container {
//   background-color: #eeecec;
// }

// .App {
//   // display: flex;
//   flex-direction: column;
// }
