body,
html,
.App,
// .App-container,
.app-container,
#root {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 600px) {
 
  .app-container,.App-container{

    height: auto;
    background-color: #eeecec;
  }
}
.App-container {
  background-color: #eeecec;
}

.App {
  // display: flex;
  flex-direction: column;
}
